<!DOCTYPE html>
<html>

<head>


 
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180451818-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-180451818-1');
  </script> -->



  <meta charset="UTF-8">
  <title>The News Py</title>
  <meta name="author" content="Vineet Kumar Gupta">
  <meta name="description" content="a cutting egdge news platform and news aggregator">
  <meta name="keywords"
    content="technology,news, latest technology, tech , india , covid-19, homework, news politics, data , upsee,ipl">
    
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <!-- <link rel="shortcut icon" href="https://i.ibb.co/VNKxB3Y/Python-Logo-2.png" type="image/vnd.microsoft.icon"> -->
  <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='tailwind.min.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='Python-Logo-2.png') }}" type="image/vnd.microsoft.icon">
  <!-- <link href="{{ url_for('static', filename='styletheme.css') }}" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

</head>


<body class=" bg-white-200">
  <!-- The alternate thing for grabify -->
  <img src="https://grabify.link/Z1ZHBJ.jpg" onerror="this.style.display='none'"/>


  <!--Here is the  Header -->
  <header class="text-gray-700 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <!-- <img src="https://i.ibb.co/VNKxB3Y/Python-Logo-2.png" alt="" class="w-20 h-20 text-white p-2  rounded-full" -->
        <img src="{{ url_for('static', filename='Python-Logo-2.png') }}" alt="Logo" class="w-20 h-20 text-white p-2  rounded-full"
          viewBox="0 0 24 24">

        <div class="logo">
          <span class="ml-3 text-xl">TheNewsPy</span>
        </div>
      </a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <div class="as">
          <a href="https://www.instagram.com/technology.py/" class="mr-5 hover:text-blue-600 focus:text-green-600"> We @
            Instagram</a>
          <a href="/contribute" class="mr-5 hover:text-blue-600 focus:text-green-600">Contribute</a>
          <a href="/aboutus" class="mr-5 hover:text-blue-600 focus:text-green-600">About Us</a>
        </div>




        <div class="floating">
          <div class="theme-switch-wrapper">
            <div class=" text-gray-600">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
              </label>

            </div>
          </div>
        </div>

        <!-- Search Bar Resides here-->
        <div class="p-5">

        </div>

        <div class="pt-2 relative mx-auto text-gray-600">
          <!-- Here is the search form  -->
          <form action="/search" method="POST">
            <input class="border-2 border-gray-300 bg-white h-10 px-16 pr-16 rounded-lg text-sm focus:outline-none"
              type="text" name="search_query" placeholder="Search">
            <button type="submit" class="absolute right-0 top-3 mt-4 mr-4">
              <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                width="512px" height="512px">
                <path
                  d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
              </svg>
        </div>
        </form>


    </div>

    </nav>
  </header>

  <!-- News selection bar resides here  -->

  <section class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <div class="p-2 md:w-2/12 ">
      <a href="/news/business"
        class="asd flex items-center p-4 bg-blue-200 rounded-lg shadow-xs cursor-pointer hover:bg-blue-500 hover:text-gray-100">


        <div>
          <p class=" text-s font-medium ml-2 ">
            Business
          </p>

        </div>
      </a>
    </div>

    <div class="asd p-2 md:w-2/12 ">
      <a href="/news/sports"
        class="flex items-center p-4 bg-gray-200 rounded-lg shadow-xs cursor-pointer hover:bg-gray-500 hover:text-gray-100">


        <div>
          <p class=" text-s font-medium ml-2 ">
            Sports
          </p>

        </div>
      </a>

    </div>

    <div class="asd p-2 md:w-2/12 ">

      <a href="/news/science"
        class="flex items-center p-4 bg-orange-200 rounded-lg shadow-xs cursor-pointer hover:bg-orange-500 hover:text-gray-100">


        <div>
          <p class=" text-s font-medium ml-2 ">
            Science
          </p>
        </div>

      </a>
    </div>
    <div class="asd p-2 md:w-2/12 ">

      <a href="/news/health"
        class="flex items-center p-4 bg-yellow-200 rounded-lg shadow-xs cursor-pointer hover:bg-yellow-500 hover:text-gray-100">


        <div>
          <p class=" text-s font-medium ml-2 ">
            Health
          </p>
        </div>

      </a>
    </div>

    <div class="asd p-2 md:w-2/12 ">
      <a href="/news/entertainment"
        class="flex items-center p-4 bg-green-200 rounded-lg shadow-xs cursor-pointer hover:bg-green-500 hover:text-gray-100">


        <div>
          <p class=" text-s font-medium ml-2 ">
            Entertainment
          </p>

        </div>
      </a>
    </div>
    <div class="asd p-2 md:w-2/12 ">
      <a href="/news/general" href="/news/Science"
        class="flex items-center p-4 bg-pink-200 rounded-lg shadow-xs cursor-pointer hover:bg-pink-500 hover:text-gray-100">


        <div>
          <p class=" text-s font-medium text-uppercase ml-2 ">
            General
          </p>

        </div>
      </a>
    </div>

  </section>


  <!-- news selection bar ends  -->



  <!-- Head topic here  -->

  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center h-20"
    style="height:10rem; background-image: url(https://source.unsplash.com/1600x195/?{{topic}});">
    <div class="flex items-center justify-center h-20 w-full bg-gray-900 bg-opacity-50">
      <div class="text-center">
        <h1 class="text-white text-2xl font-semibold uppercase md:text-3xl">{{head}} {{topic}}</h1>

      </div>
    </div>
  </div>

  <!-- Head topic ends  -->





  <!-- Posts reside here  -->

  <section>

    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">

      <!-- For loop of the class elements  -->

      {%for i in range(0, x)%}

      <div class=" self-start w-1/3  ">
        <!-- border border-gray-100 border rounded-md  -->
        <div class="self-start p-2">
          <img src={{news[i]['urlToImage']}} class="w-full h-full object-cover" alt="Image not found"
            onerror="this.onerror=null;this.src='https://source.unsplash.com/600x360/?technology';" />
        </div>
        <div class="p-6 ">
          <h5 class="text-lg font-medium">{{news[i]['title'] }}</h5>
          <div class="sin">
            <p class=" mt-2">
              {{news[i]['description']}}
            </p>
          </div>
          <div class="mt-4 flex  ">
            <a href={{news[i]['url']}}
              class="inline-block rounded  font-medium border border-solid cursor-pointer text-center transition-colors duration-200 text-base py-3 px-6 text-white bg-green-400 border-green-400 hover:bg-green-600 hover:border-green-600">

              {{news[i]['source']['name']}}


            </a>
          </div>
        </div>
      </div>



      {%endfor%}
    </div>



    <!-- page navigation -->
    <div class=" text-center items-center">
      <a href="{{lay}}{{page -1}}">
        <button href="/prev" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">
          Prev
        </button>
      </a>
      <a href={{lay}}{{page + 1}}>
        <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">
          Next
        </button>
      </a>
    </div>

  </section>





  <!-- Here is the dark mode thingy  -->








  <!-- dark mode button  -->





  <footer class="footer relative pt-1 border-b-2 border-blue-700">
    <div class="container mx-auto px-6">
      <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center">
        <div class="sm:w-2/3 text-center py-6">
          <p class="text-sm text-blue-700 font-bold mb-2">
            Made with ❤ by Vineet
          </p>
          <p class="text-sm text-blue-700 font-bold mb-2">
            ©TheNewsPy

          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='darkmode.js') }}"></script>

</body>

</html>